fastapi
uvicorn[standard]
gunicorn
python-multipart
sounddevice
scipy
openai-whisper
google-genai
regex
mediapipe
pandas
opencv-python
fastapi
python-multipart
sounddevice
scipy
openai-whisper==20250625
google-genai
regex
pandas
pydantic
python-dotenv
mediapipe==0.10.14
opencv-python==4.9.0.80
numpy==1.26.4
