fastapi
uvicorn[standard]
gunicorn
python-multipart
sounddevice
scipy
openai-whisper
google-genai
regex
mediapipe
pandas
opencv-python
fastapi
uvicorn[standard]
gunicorn
python-multipart
sounddevice
scipy
openai-whisper==20250625
google-genai
regex
mediapipe
pandas
numpy<2.0.0
opencv-python-headless
whisper-timestamped
pydantic
python-dotenv

